extends ./layout/index

block Contenido     
    h2.text-center.mt-5=pagina
    .row.justify-content-center.col
        .col-md-8
            a(href="/login" class="fuente") Volver 
            if(Errores)
                each error in Errores 
                    .alert.col.alert-danger.text-center=error.mensaje
            form(method="POST")
                .form-group
                    label(for="nombre") Nombre Completo: 
                    input#nombre(type="text", name="nombre", placeholder="Tu nombre" class="form-control" value=nombre)
                .form-group
                    label(for="correo") Correo Electronico: 
                    input#correo(type="email", name="correo", placeholder="tu correo" class="form-control" value=correo) 
                .form-group
                    label(for="password") Contrase単a: 
                    input#password(type="password", name="password", placeholder="tu contrase単a" class="form-control", value=password)  
                .form-group
                    label(for="confircontra") Confirmar contrase単a: 
                    input#confircontra(type="password", name="confircontra", placeholder="Confirmar contrase単a" class="form-control" value=confircontra)
                input.btn.btn-success.btn-block.mb-2(type="submit" value="Entrar")